<!-- <h1>{{Title1}}</h1>
<h2>{{userStatus}}</h2> -->

<!-- <button (click)="SendMessage()">Click</button> -->

<!-- <app-card>
    <h2>Blog Post 1</h2>
    <p>2/8/24</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eum neque, illolup</p>
</app-card> -->

<!-- <h1>PostList Component</h1> -->



<!-- Dpendency Injection -->
<!-- <h1>{{userService.users[0] | json}}</h1> -->

<ul>
    @for (  post of posts; track post) {
    <li>{{post.title | json}}</li>
    }
</ul>

<button (click)="addPost()">Add</button>