<!-- <h1>First Angular views</h1>
<app-navbar></app-navbar>
<app-header></app-header>
{{ title }}
<img [src]="imageUrl" alt="Angular Logo" /> -->

<!-- string interpolation and property binding -->

<!-- <Button disabled="{{ isDisabled }}">Disabling with string interpolation</Button>
<Button [disabled]="isDisabled">Disabling with property binding</Button>
<br /> -->
<!-- class binding -->

<!-- <Button
  [class.active]="isActive"
  [class.no-active]="!isActive"
  [class.active-border]="isActive"
  [class.no-active-border]="!isActive"
  >Click me</Button 
> -->

<!-- String Binding with class -->

<!-- <Button [class.apple] = "fruitName == 'Apple'" [class.orange] = "fruitName == 'Orange'">Fruit Ninja</Button> -->

<!-- Event Binding -->

<!-- <button (click) = "buttonClick()">Click Button</button>
<button (mouseover) = "mouseOver()">Mouse over</button>

<input type="text" (keyup)="keyPressed($event)">
<input type="text" (keyup.enter)="enterkeyPressed()"> -->

<!-- Capturing value from field -->

<!-- <input type="text" id="user" (keyup.enter)="captureValue(user1)" #user1> -->

<!-- updating value in input field -->

<!-- <input type="text" [value]="userName" #user2 (keyup.enter)="updateUsername(user2)">

<br> -->

<!-- Two way Data Binding -->

<!-- <h3>Using Two way binding with ngModel</h3>
<input type="text" [(ngModel)]="userName">
<h2>{{userName}}</h2> -->

<!-- itexpert068@gmail.com  -->


<!-- Old way -->
<!-- <h2 *ngIf="isLoggedIn">{{userName}}</h2>
<h4 *ngIf="!isLoggedIn">User not logged in</h4> -->


<!-- New way -->
<!-- @if(isLoggedIn){
    <h2>{{userName}}</h2>
}@else {<h4>User logged out(using else syntax)</h4>} -->


<!-- if directives with numbers -->

<!-- @if(buttonClicks < 3){
    <Button (click) = "loginAttempts()">Login</Button>
}@else{
    <h1>Exceeded Login Attempts!!</h1>
} -->


<!-- if directive with string value -->

<!-- @if(Role == "isAdmin"){
    <h1>Welcome Admin</h1>
}@else if (Role == "isStudent"){
    <h1>Welcome Student</h1>
}@else{
    <h1>You are not authorized</h1>
} -->


<!-- ng-template-exapmle-->

<!-- <h4 *ngIf ="Role == 'isAdmin'; else dynamicTemplate"></h4>
<ng-template #dynamicTemplate>
    <p>this content is inside ng-template</p>
</ng-template> -->

<!-- ngFor -->

<!-- <h3>{{users}}</h3>

<h3>{{users[0]}}</h3>
<h3>{{users[1]}}</h3>
<h3>{{users[2]}}</h3>
<h3>{{users[3]}}</h3>
<h3>{{users[4]}}</h3> -->

<!-- using old approach -->
<!-- <p>using NgFor</p>

<h3 *ngFor = "let user of users">{{user}}</h3> -->

<!-- using new approach -->

<!-- Given by chatGpt -->
<!-- <p>Using new approach</p>
<label for="names">Select name</label><br>
<select name="names" id="names">
  <option *ngFor="let user of users; track user " [value]="user">{{ user }}</option>
</select> -->


<!-- own approach -->
<!-- <p>using new appraoch</p>
<label for="names">Select name</label> <br>
<select name="names" id="names" >
@for(user of users; track user){
    <option >{{user}}</option> 
}
</select> -->

<!-- Same data in unordered list -->

<!-- <ul>
    @for(user of users; track user){
        <li>{{user}}</li>
    }
    
</ul> -->

<!-- For object Array -->

<!-- <ul>
    @for(userObj of usersObj; track userObj){
        <li>{{userObj.name}}</li>
    }
    
</ul> -->

<!-- Change Detection -->


 <!--@if(usersObj.length == 0){
     <div>
        <p>No User to display</p>
    </div>
    }
<button (click) = "addNewUser()">Add new user</button>


<ul>
    @for(userObj of usersObj; track userObj; let i = $index; let userCount = $count ){
        <li>{{userCount}}-{{i}}&nbsp;&nbsp;{{userObj.name}}&nbsp;<button (click) = "deleteUser(i)">delete</button></li>
    }
    
</ul> -->

<!-- Switch Directive -- Old Method -->

<!-- <div [ngSwitch] ="usersRole">
    <p *ngSwitchCase="'Admin'">Welcome Admin!!</p>
    <p *ngSwitchCase="'Member'">Welcome Member!!</p>
    <p *ngSwitchDefault="">Please Login!</p>
</div> -->

<!-- Switch Directive -- New Method -->

<!-- @switch(usersRole){
    @case('Admin'){
        <p>Welcome Admin !</p>
    }
    @case('Member'){
        <p>Welcome Member !</p>
    }
    @default{
        <p>Please Login !</p>
    }
} -->

<!-- Style Binding Approach -->
<!-- <h1 [style.color]="isLoggedIn ? 'green' : 'red'" [style.textTransform]="isLoggedIn ? 'uppercase' : 'lowercase'">Welcome Admin</h1> -->


<!-- NgStyle Approach -->
<!-- <h1 [ngStyle] = "{
    'color' : isLoggedIn ? 'Blue' : 'magenta',
    'textTransform' : isLoggedIn ? 'uppercase' : 'lowercase'
}">Ng Style Directive</h1> -->

<!-- Class Binding Approach -->

<!-- <h1 [class.login]="isLoggedIn" [class.logout]="!isLoggedIn">Class Binding</h1> -->


<!-- NgClass Approach -->

<!-- <h1 [ngClass] = "{
    'login' : isLoggedIn,
    'logout': !isLoggedIn
}">Ng Class Approach</h1> -->



<!-- Component and their Relationships -->

<!-- <app-posts-list [Title1] = "titleFromParent" [userStatus]="userLoggedIn"></app-posts-list> -->

<!-- <p>{{message}}</p> -->

<!-- <app-posts-list (messageEvent)="receiveMessage($event)"></app-posts-list>

<h1>{{messageFromParent}}</h1> -->


<!-- <app-card>
    <h2>John Doe</h2>
    <p>15/8/24</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nobis possimus, temporibus </p>
    </app-card> -->
    <!-- <app-posts-list></app-posts-list> -->
<!-- 
    <div *ngComponentOutlet = "loadComponent()"></div> -->


    <!-- <button (click)="loadComponent()">Create Component</button> -->
     
    <button (click)="removeComponent()">Remove Component</button> 


    <!-- LifeCycle Hooks in Angular -->

    <!-- <app-profile [pUsername]="username"></app-profile> -->

    <app-profile>
        <p>Content projected from parent component</p>
    </app-profile>